-var var1='GOOOGLE';
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title_in
    script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/assets/styles.css')
  body
    block content